@import "components/color-variables";

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: $colivery-background;
}

.info-button, .info-button:hover {
  background-color: $colivery-blue;
}

.cancel-button, .cancel-button:hover {
  background-color: #cc0000;
}

.success-button, .success-button:hover {
  background-color: $colivery-green;
}

.header {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

h3.slogan {
  font-weight: bold;
  color: $colivery-grey;
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: center;

  i.material-icons {
    font-size: 0.85em;
  }
}

.btn-footer-secondary {
  background-color: $colivery-grey;
  float: left;
}

.btn-footer-secondary:hover {
  background-color: $colivery-grey !important;
  float: left;
}

.modal-footer {
  height: 65px !important;
}

.btn {
  border-radius: 30px;
  box-shadow: none;
  font-weight: bold;
  line-height: 45px;
  height: 45px;
}

/* style for switches */
.switch input[type="checkbox"].invalid + span {
  background-color: $colivery-orange !important;
}

.switch input[type="checkbox"].valid + span {
  background-color: $colivery-green !important;
}

/* checkbox style*/
input[type="checkbox"] + span:not(.lever){
  margin-left: 4px;
}
input[type="checkbox"]:not(:checked):not(.filled-in).invalid + span:not(.lever):before{
  border: 2px solid $colivery-orange !important;
}

input[type="checkbox"].invalid + span:not(.lever):after {
  border: 2px solid $colivery-orange !important;
}

input[type="checkbox"]:not(:checked):not(.filled-in).valid + span:not(.lever):before{
  border: 2px solid $colivery-green;
}

input[type="checkbox"].valid + span:not(.lever):after {
  border: 2px solid $colivery-green !important;
}

/* radio button style*/
input[type="radio"]:not(:checked).invalid + span:before,
input[type="radio"]:not(:checked).invalid + span:after {
  border: 2px solid $colivery-orange !important;
}

input[type="radio"]:not(:checked).valid + span:before,
input[type="radio"]:not(:checked).valid + span:after {
  border: 2px solid $colivery-green !important;
}

.btn.inverted {
  background-color: #fff;
  color: $colivery-orange;
}

.horizontal-scroll {
  width: 100%;
  display: block;
  height: 100%; 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


/* Mobile */
@media screen and (max-width: 768px) {

  .modal.open {
    top: 0 !important;
    height: 100vh !important;
    width: 100% !important;
    max-height: 100vh !important;
  }
  .modal.modal-fixed-footer .modal-content {
    height: calc(100vh - 56px) !important;
    max-height: calc(100vh - 56px) !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.static-map {
  width: 100%;
  max-width: 640px;
  display: flex;
}

.btn-floating.halfway-fab {
  position: fixed;
}

.order-card {
  display: inline-block;
  height: 100%;
  border-radius: 15px;
  background-color: #fff;
  color: #000;
  margin-right: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.order-card.active {
  background-color: $colivery-orange;
  color: #fff;
}

.order-header {
  background-color: $colivery-orange;
  margin: -10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.order-header-green {
  background-color: $colivery-green;
}

.order-header-blue {
  background-color: $colivery-blue;
}

.order-date {
  display: block;
  margin-top: 10px;
  padding: 10px;
  color: $colivery-grey;
}

.order-card.active {
  .order-date {
    color: #fff;
  }
}

.order-title {
  display: block;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: -5px;
  margin-bottom: 5px;
}

.order-card-icon {
  font-size: 1.3rem;
  margin-right: 5px;
}

.order-line {
  padding-left: 10px;
  padding-top: 4px;  
  padding-bottom: 4px;
  line-height: 1.3rem;    
}

.material-align-middle {
  display: inline-flex;
  vertical-align: middle;
}

.order-card {
  .btn {
    margin-top: 8px;
    margin-bottom: 2px;
  }
}

.order-card-inner {
  display: flex;
  flex-direction: column;
}

.order-tabs {
  display: flex;
  h3 {
    color: $colivery-grey;
  }
}

.order-active-tab {
  h3 {
    color: #000;
  }
  color: $colivery-orange;
  text-decoration: underline;

}

.action-button {
  bottom: 14px !important;
  right: 14px !important;
}


/* webkit scrollbar */

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $colivery-orange; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $colivery-orange; 
}