
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.name {
  text-shadow: #fff 0 0 10px;
 }

 .card-title {
  text-shadow: #000 0 0 10px;
 }

 .table-header {
  padding-top: 30px;
  padding-bottom: 30px;
 }

 
 .carousel .carousel-item > img {
   height: 25px;
   width: initial;
 }
 
 .validity-error-message {
   color: #cc0000;
 }
 
 .round-corner-picture {
   width: 130px;
   border-radius: 120px;
   border: 2px solid #fff;
 }

.quote-author {
  margin-top: -10px;
  font-style: italic;
}

.container {
  animation: fadein 2s;
}
.quote {
  font-style: italic;
}

 nav ul a,
 nav .brand-logo {
   color: #444;
 }

 p {
   line-height: 2rem;
 }

 .header-link {
   color: #fff;
 }


 .carousel {
   height: 300px;
   margin-bottom: -100px;
 }

 a.header-link {
	display: inline;
	text-decoration: none;
  background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, rgb(68, 186, 233), #0b3668);
  	background-repeat: no-repeat;
	background-position: 120%, 122%, 0 130%;

  background-size: 100% 10px;
}

 .sidenav-trigger {
   color: #000;
 }

 #index-banner {
  margin-top: -20px;
 }

 .parallax-container {
   min-height: 200px;
   transform: skewY(-1.5deg);
    margin-top: 30px;
    margin-bottom: 40px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }

 .parallax-container h3 {
  text-shadow: #000 0 0 10px;
 }

 .noskew {
  transform: skewY(0deg);
  margin-bottom: 0px;
 }

 .parallax-header {
  min-height: 360px;
 }

.parallax-container .section {
  width: 100%;
}

 @media only screen and (max-width : 992px) {
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {

   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
 }
